
$global-texture: 'https://d2ydxeblbafldb.cloudfront.net/img/global/texture.png';

$menu-icon: 'https://res.cloudinary.com/leonemil/image/upload/v1580413363/Rolling%20stones/menu.svg';
$button: 'https://d2ydxeblbafldb.cloudfront.net/img/global/tab.png';