body {
    background-image: url($global-texture);
}

.main-menu__list {
    list-style: none;
}

.main-menu__link {
    text-decoration: none;
    color: inherit;
}

.main-menu__toggle {
    background-image: url($menu-icon);
    background-size: cover;
    cursor: pointer;
}

.button {
    background-image: url($button);
    background-size: cover;
}