.container {
    height: 100%;
}

.main-menu {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: map-get($breakpoints, large)){
        display: grid;
        grid-template-columns: 15rem 1fr;
        margin-left: 7rem;
        margin-right: 7rem;
    }
}

.main-menu__list {
    display: none;
    padding-left: 0;
    
    @media screen and (min-width: map-get($breakpoints, large)){
        display: flex;
        justify-content: space-between;
    }
}

.main-menu__toggle {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (min-width: map-get($breakpoints, large)){
        display: none;
    }
}

.main-menu__logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 60px;
}

.button {
    padding: .5em 1em;
}